/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Noah-Charles Yoou]
 * Date : [Jeudi 29 février 2026]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  /* Changez pour votre choix de police de caractères de Google Fonts*/
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  /* Ajutez avec votre couleur de texte principale */
  background-color:#FF4747;
  /* Ajutez avec votre couleur de fond principale */
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */

/*Chose général*/
h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ff4747;
  background-color: #e2e6d7;
  border: 20px solid #7fe6d3;
  border-radius: 5000rem;
  width: 53rem;
  height: 12rem;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  -webkit-text-stroke: 4px #404040;

}

h2 {
  text-align: left;
  font-size: 3rem;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ff4747;
  background-color: #e2e6d7;
  border: 20px solid #7fe6d3;
  border-radius: 5000rem;
  -webkit-text-stroke: 2.5px #404040;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

h3 {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  text-align: right;
}

.prix{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  text-align: right;
  z-index: 2;
  float: right;
  clear: both;
  -webkit-text-stroke: 1px #ff4747;
  font-size: 1.5rem;
}

.prix:hover{
  color: #7fe6d3;
}


.description {
  color: #404040;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  text-align: left;
  list-style: none;
}

#Menu {
  max-width: 800px;
  margin: auto;
}

.stylehr {
  border-top: 6px solid #7fe6d3;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div {
  font-size: 2rem;
}

li {
  list-style: none;
}

.etat {
  font-size: 1.2rem;
  color: #404040;

  text-decoration: none;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  text-align: left;
  list-style: none;
}

/*Entrées*/

.Entrées {
  background: #e2e6d7;
  padding: 5rem;
  text-decoration: none;
  border: 20px solid #7fe6d3;
  padding: 3.5rem;
  margin-bottom: 2rem;
}


/*Plats principaux*/

.info {
  color: #404040;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  text-align: left;
  list-style: none;
}

.Platsprincipaux {
  background: #e2e6d7;
  padding: 5rem;
  text-decoration: none;
  border: 20px solid #7fe6d3;
  padding: 3.5rem;
  margin-bottom: 2rem;
}

/*Desserts*/
.Desserts {
  background: #e2e6d7;
  padding: 5rem;
  text-decoration: none;
  border: 20px solid #7fe6d3;
  padding: 3.5rem;
}

